body {
    background-color: #F8FFE5;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    margin: 0;
}

div.playArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    background-color: #FFC43D;
    border-radius: 20px;
    flex-grow: 1;
    height: 50vh;
    margin: 40px;
    border: 5px white;
    border-style: solid;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Added box shadow */
}

div#logo{
    display: flex;
    justify-content:start ;
    align-items: start;
    margin: 25px;
    font-size: 100px;
    color:#FFFFFF
}

div#scoreCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 70px;
    margin: 10px;
}

div.score{
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    border: 5px white;
    border-style: solid;
    border-radius: 5px;
    min-width: 150px;
    max-width: 100px;
    text-align: center;
}

div#resulCard{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 600px; 
    box-sizing: border-box;
}

div.result{
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    border: 5px white;
    border-style: solid;
    border-radius: 5px;
    min-width: 600px;
    max-width: 600px;
    text-align: center;
    height: 20px;
    align-items:center ;
    box-sizing: border-box;
    justify-content: center;
}

div.playActions{
    display: flex;
    min-width: 610px;
    justify-content: space-between;
}

button {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 5px;
    border-radius: 10px;
    flex: 1 1 auto;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    border: 5px white;
    border-style: solid;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.5s ease; /* Smooth transition effect */
}

button#rock {
    background-color: #EF476F;
    opacity: 90%;
}

button#rock:hover {
    background-color: #EF476F;
    opacity: 100%; /* Darker shade for hover */
}

button#paper {
    background-color: #1B9AAA;
    opacity: 90%;
}

button#paper:hover {
    background-color: #1B9AAA; /* Darker shade for hover */
    opacity: 100%;
}

button#scissors {
    background-color: #06D6A0;
    opacity: 90%;
}

button#scissors:hover {
    background-color: #06D6A0; /* Darker shade for hover */
    opacity: 100%;
}


